#parent {
  box-sizing: content-box;
  background-image: url("download.jpeg");
  width: 510px;
  height: 155px;

  position: absolute;
  left: 40%;
  top: 400px;
}

#child {
  box-sizing: content-box;
  background-color: rgb(197, 197, 197);
  width: 490px;
  height: 140px;
  border: 3px;
  border-radius: 2%;
  border-color: rgb(152, 152, 152);
  border-style: solid;
  position: absolute;
  left: 8px;
  top: 5px;
}

h2 {
  font-size: 19px;
  position: absolute;
  margin: 15px;
  background: rgb(7, 58, 117);
  background: linear-gradient(
    90deg,
    rgba(7, 58, 117, 0.9187935034802784) 0%,
    rgba(8, 61, 124, 0.6334106728538282) 54%,
    rgba(7, 62, 125, 0.39443155452436196) 86%
  );
  width: 470px;
  height: 25px;
  margin: 0;
  color: white;
  opacity: 100%;
  padding-left: 20px;
  font-weight: bolder;
}

.window > * {
  position: fixed;
  top: 54%;
  left: 45%;
  width: 35px;
  height: 35px;
  filter: drop-shadow(3px 3px 1px #575757b5);
}

#small_text {
  position: fixed;
  left: 50%;
  top: 53%;
  font-weight: 500;
}
